@model zpnet.Models.kategoria

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły kategorii:</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nazwa)
        </dd>
    </dl>
    <h5>Lista elementów tej kategorii:</h5>
    <div style="max-height:300px; overflow:auto;">
    <li>
        @foreach (var item in @ViewBag.elementy)
        {
            <ul> @item.nazwa  </ul>
        }
     
    </li>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id"><button class="btn btn-primary">Edycja</button></a> &nbsp;
                 <a asp-action="Index"><button class="btn btn-secondary">Powrót do listy:</button></a>
 
</div>
