@model zpnet.Models.kategoria

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja kategorii:</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nazwa" class="control-label"></label>
                <input asp-for="nazwa" class="form-control" />
                <span asp-validation-for="nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />&nbsp;
                 <a asp-action="Index"><button class="btn btn-secondary">Powrót do listy:</button></a>
 
            </div>
        </form>
    </div>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
